
@media only screen and (min-width:1200px) and (max-width:1400px)	{
    .nv_1 {
        
        font-size: 12px;
        padding: -3px 16px;
    }
    
    }

    @media only screen and (min-width:992px) and (max-width:1200px)	{
        .nv_1 {
            
            font-size: 9px;
            padding: 0px 0px;
        }

        .nav-item {
            padding: 11px 8px !important;
        }
        
        }
        
    