a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0px;
    padding: 0px;
}



.section1_main {
  
   
    background-color:#162331;
    height: 70px;
    
}


.nv_bar {
    
    background-color:#162331 !important;
    
}

 .phone {
   color: #fff;  
}

.nv_1 {
    color: #fff !important;
    font-size: 16px;  
}

.nav-link {
    color: #fff !important;
}

.navbar-collapse {
    margin-left: 100px !important;
}

.navbar-toggler {
    background-color: aqua !important;
}

.nav-item {
    padding: 0px 15px !important;
}

.section_2_main {

    background-color: #fff;
}


.label-color-1 {
    color: #667085;
}

.head {
    font-size: 23px;
   margin-top: 10px !important;
}

.name {
 width: 70%;
 
  background-color: #e0e0e0;
   
}

.user {
    position: absolute;
    top: 214px;
    left: 948px;
    margin-right: 30px;
    
}
.inp_1 {
    position: relative;
    width: 80%;
    margin-left: 43px;
    padding: 10px 0px;
    border-radius: 5px;
    margin-bottom: 26px;
}

.inp_1::placeholder{
   padding: 0px 40px;
}

.user1 {
    position: absolute;
    top: 288px;
    left: 948px;
    margin-right: 30px;
    
}
.user2 {
    position: absolute;
    top: 359px;
    left: 948px;
    margin-right: 30px;
    
}

.drop_c {
    width: 80% !important;
    margin-left:43px ;
    position: relative;
    
    
}
.drop_c_child {
    width: 100% !important;
    background-color: white !important;
    color:#667085 ;
    padding: 10px 0px;

}

.user-4 {
    position: absolute;
    top: 7px;
    left: 12px;
}

.section3_main {
    padding: 49px 0px;
    background-color:#162331 ;
}



.home_title {
    font-size: 32px;
    line-height: 44px;
    color: #101828;
    font-weight: 400;
}

.section_para {
    color: #667085;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 44px;
}

.section_3_rw {
    justify-content: center;
}

.section3_clm {
    
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.overlay_heading {
    font-family: Train One !important;
    color: #667085;
    font-size: 34px;
    
    font-family: "Train One", system-ui;
    margin-left: 135px;
   

  
}

.overlay_heading_j {
    font-family: Train One !important;
    color: #667085;
    font-size: 34px;
    font-family: "Train One", system-ui;
    margin-left: 120px;
}


.section4_clm {
    
    border: .1px solid gray;
    margin-bottom: 65px;
    margin-left: 41px;

    
}

.card_heading {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: #101828;
   
    
}

.more {
    margin-top: 30px;
    margin-bottom: 28px;
}



 .batch {
    display: flex;
  
    margin-top: 48px;
   
 }

 .common_heading {
    font-size: 25px;
    color: #101828;
    font-weight: 400;
 }

 .section5_main {
    background: #d9a7c7;
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  
background: linear-gradient(to right, #fffcdc, #d9a7c7);
padding: 20px 0px;

 }

 .section_6_main {
    background-color: #fffbe8;
 }

 .sub_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 44px;
    color: #667085;
 }


 .red {
    color: #ed1b23;
    margin-left: 10px;
 }

 .common_heading_result {
    font-weight: 500;
    color: #101828;
    margin-left: 10px;
    font-size: 18px;
    padding: 16px 0px;
}

.result_content {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #667085;
    margin-left: 10px;
}



.section7_bane {
   
    height: 286px;
}

.common_heading_result:hover {
    color: #ed1b23;
}

.section8_main {
    padding-bottom: 50px;
    background-color: #f1f1f1;
}

.footer_main {
    padding-top: 20px;
    background-color: #101828;
    padding-bottom: 20px;
}



.img_logo {
    
    height: 90px;
    margin-top:10px ;
    width: 200px;
    margin-bottom: 20px;
    
}

.footer_p {
    width: 209px;
}

.footer_p>span{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    width: 100px;
    color: #eaecf0;
   
}

.about_f {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    width: 100px;
    margin-bottom: 5px;
    color: #eaecf0;
}

.footer_contact {
    color: #eaecf0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
}

.footer_section2_main {
    height: 70px;
    
    background-color: #101828;
    padding-top: 12px;
   padding-bottom: 20px;
}



.footer_section2_clm {
    display: flex; 
    align-items: center;
}

.footer_end_head {
    color: #98a2b3;
}



.clat_title {
    font-size: 26px;
    line-height: 39px;
    color: #101828;
    font-weight: 400;
}


.p_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 44px;
    color: #667085;
}



.clm_section2_clat {
    border: .1px solid gray;
    margin-bottom: 10px;
    margin-right: 36px;
    width: 403px;
    
}

.live_label {
    background-color: #27ae60;
    color: #fff;
    height: 24px;
    margin-top: 20px;
   
}

.img_live {
    margin-top: 13px !important;
}

.section5_clat_book_main {
    background-color: #f1f1f1;
    border-top: .1px solid #101828;
    padding: 50px 0px;
  
    
    
}

.clm_study {
    height: 511px;
    width: 631px;
    background-color: rgb(240, 227, 249);
    padding: 10px !important

}

.study_head {
    font-size: 18px;
    line-height: 22px;
}

.discount {
    text-decoration: line-through;
    font-weight: 0;
    color: gray;
    font-size: 12px;
}

.percet{ 
    background-color: blueviolet;
    padding: 2px;
    color: #f1f1f1;
}


.clm_test_s1 {
    width: 423px;
   
    border-radius: 3px;
    margin-right: 16px;
}

.live_label_best {
    background-color: #27ae60;
    color: #fff;
    height: 27px;
    margin-top: 34px;
    padding: 2px 7px;
    transform: rotate(450deg);
    border-radius: 3px 3px 3px 3px;

    font-size: 12PX;
    
   
}




.test_heading {
    width: 100%;
  
    font-size: 21px;
    margin: 10px 0px;
}

.best {

    background-color: #27ae60;
    transform: rotate(630deg);
    border-radius: 5px 5px 0px 0px;
    height: 28px;
    margin-top: 26px;
}

.test-series-card>p {
    padding-left: 20px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px !important;
    color: var(--base-color);
    margin: 10px 0px;
}

.free {
    color: #ed1b23;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-wrap: nowrap;
}

.clm_result {
    height: 326px;
    position: relative;
    box-shadow: 10px 10px 10px grey;
}

.air {
    position: absolute;
    border-top: .1px solid white;
    border-bottom:.1px solid white ;
    width: 337px;
    left: 63px;
    top: 252px;
    color: white !important;
    font-weight: 500;
    display: flex;
    justify-content: center;

}

.air_2 {
    position: absolute;
    border-top: .1px solid white;
    border-bottom:.1px solid white ;
    width: 337px;
    left: 63px;
    top: 252px;
    color: white !important;
    font-weight: 500;
    display: flex;
    justify-content: center;

}


.air_3 {
    position: absolute;
    border-top: .1px solid white;
    border-bottom:.1px solid white ;
    width: 337px;
    left: 63px;
    top: 252px;
    color: white !important;
    font-weight: 500;
    display: flex;
    justify-content: center;

}

.name_result {
    position: absolute;
    left: 185px;
    top: 299px;
    color: white !important;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.name_result_2 {
    position: absolute;
    left: 176px;
    top: 299px;
    color: white !important;
    font-weight: 500;
    display: flex;
    justify-content: center;

}

.name_result3 {
    position: absolute;
    left: 154px;
    top: 288px;
    color: white !important;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.name_result4 {
    position: absolute;
    left: 177px;
    top: 294px;
    color: white !important;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.name_result8 {
    position: absolute;
    left: 203px;
    top: 291px;
    color: white !important;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.name_result9 {
    position: absolute;
    left: 171px;
    top: 291px;
    color: white !important;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.name_result10 {
    position: absolute;
    left: 176px;
    top: 287px;
    color: white !important;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.name_result11 {
    position: absolute;
    left: 176px;
    top: 287px;
    color: white !important;
    font-weight: 500;
    display: flex;
    justify-content: center;
}





.section_title {
    font-size: 26px;
    line-height: 39px;
}





.section1_clm_center {
    
    border-radius: 8px;
    background-color:#98a2b342;
    width: 409px;
    margin-right: 28px;
    padding: 20px 0px;
}

.image_center {
    width: 91px;
   justify-content: space-around;
    
    background-color: white;
    border-radius: 10px;
    margin-top: 24px;
    margin-left: 20px;
}

.heading_center_clm {
   
   
    margin-left: 42px;
}

.card_heading_center {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: #101828;
    width: 170px;
    margin-top: 17px;
    
}

.phn {
    margin-top: 17px !important;
    
    margin-left: 15px;
}

.dropdown-menu>li {
    cursor: pointer;
}

#course {
    width: 351px;
    margin-left: 46px;
    padding: 10px 0px;
    border-radius: 5px;
}

.xnd_add {
    margin-bottom: 10px;
}

.sign_up {
    width: 80%;
    border: .1px solid red;
    background: #a8c0ff;
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
    background: linear-gradient(to right, #3f2b96, #a8c0ff);    
}

.main_frm {
    width: 100%;
    border:.1px solid red;
}

.pass_form {
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.foter_cont {
    display: flex;
    justify-content: start;
}



